In [29]:
import pandas as pd

In [30]:
dictionary = {'Autores': ['J.R.R. Tolkien', 'Machado de Assis'],
              'Titulos': ['O Senhor dos Aneis', 'Memorias Postumas de Bras Cubas'],
              'Precos': [41.2, 35.7]}

In [31]:
df = pd.DataFrame(dictionary)

In [32]:
df

            Autores                          Titulos  Precos
0    J.R.R. Tolkien               O Senhor dos Aneis    41.2
1  Machado de Assis  Memorias Postumas de Bras Cubas    35.7

In [33]:
df['Autores'][0]

'J.R.R. Tolkien'

In [34]:
mask = (df['Autores'] == 'Machado de Assis')

In [35]:
print(mask)

0    False
1     True
Name: Autores, dtype: bool

In [36]:
## Possivel fazer filtros
df[mask]

            Autores                          Titulos  Precos
1  Machado de Assis  Memorias Postumas de Bras Cubas    35.7

In [49]:
nova_linha = {'Autores': 'H.P Lovecraft', 'Titulos': 'Nas Montanhas da Loucura', 'Precos': 28.90}

In [51]:
df = df.append(nova_linha, ignore_index = True)

AttributeError: 'DataFrame' object has no attribute 'append'

In [48]:
df = pd.concat([df, pd.DataFrame({'Autores': 'H.P Lovecraft', 'Titulos': 'Nas Montanhas da Loucura', 'Precos': 28.90})], ignore_index = True)

ValueError: If using all scalar values, you must pass an index